@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

:root {
  --white: #fff;
  --yellow: #ff7b00;
  --aqua: rgb(0, 238, 255);
  --red: rgb(255, 0, 0);
  --green: rgb(0, 255, 76);
  --default: rgb(137, 43, 226);

  --defaultS: rgba(137, 43, 226, 0.35);
  --whiteS: rgba(212, 212, 235, 0.2);
  --yellowS: #ff7b005d;
  --aquaS: rgba(0, 238, 255, 0.349);
  --redS: rgba(255, 0, 0, 0.349);
  --greenS: rgba(0, 255, 76, 0.349);

  --searchBarC: rgb(0, 248, 227);
  --clock: rgba(0, 238, 255, 0.616);
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(26 30 33);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.bakground {
  background-image: url("../../public/bg/6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -5px;
  right: 0;
  left: 0;
  height: 101vh;
  width: 100vw;
  background-color: #081d1794;
  filter: blur(2px);
  z-index: 1;
}
#input {
  font-family: "Kaisei Tokumin", serif;
  font-weight: 200;
  font-size: 1.05rem;
  z-index: 20;
  display: none;
  outline: none;
  background: transparent;
  border: 2px solid var(--searchBarC);
  margin-bottom: 30px;
  width: 55vw;
  color: var(--white);
  padding: 12px;
  line-height: 20px;
  border-radius: 25px;
  animation: 500ms ease-out 0s 1 slideInFromDown;
  transition: all 500ms;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#input:focus {
  box-shadow: rgba(0, 248, 227, 0.349) 0px 0px 29px 13px;
  transform: scale(1.02);
}
.contener {
  max-width: 65vw;
  display: none;
  align-items: center;
  flex-wrap: wrap;
  z-index: 20;
}

.box {
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  min-width: 150px;
  margin: 5px;
  border: 2px solid var(--default);
  transition: all 500ms;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  /* overflow: hidden; */
}
.box:hover {
  transform: scale(1.02);
  box-shadow: var(--defaultS) 0px 0px 29px 5px;
}
.box__img {
  /* margin-top: 40px; */
  width: 70px;
  object-fit: contain;
}

/* .footer {
  position: relative;
  bottom: -1px;
  width: 101%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: height 600ms ease-in-out;
}
.footer:hover {
  display: block;
  height: 20px;
} */

#box1 {
  animation: 500ms ease-out 0s 1 slideInFromLeft;
}
#box2 {
  animation: 500ms ease-out 0s 1 slideInFromUp;
}
#box3 {
  animation: 500ms ease-out 0s 1 slideInFromDown;
}
#box4 {
  animation: 500ms ease-out 0s 1 slideInFromUp;
}
#box5 {
  animation: 500ms ease-out 0s 1 slideInFromLeft;
}
#box6 {
  animation: 500ms ease-out 0s 1 slideInFromRight;
}
#box7 {
  animation: 500ms ease-out 0s 1 slideInFromDown;
}

/* // utility */

.green {
  border-color: var(--green) !important;
}
.green:hover {
  box-shadow: var(--greenS) 0px 0px 29px 5px;
}
.red {
  border-color: var(--red) !important;
}
.red:hover {
  box-shadow: var(--redS) 0px 0px 29px 5px;
}
.aqua {
  border-color: var(--aqua);
}
.aqua:hover {
  box-shadow: var(--aquaS) 0px 0px 29px 5px;
}
.yellow {
  border-color: var(--yellow);
}
.yellow:hover {
  box-shadow: var(--yellowS) 0px 0px 29px 5px;
}
.white {
  border-color: var(--white) !important;
}
.white:hover {
  box-shadow: var(--whiteS) 0px 0px 29px 5px;
}
.horizontal {
  width: 315px;
}
/* .footerGreen {
  background-color: var(--green);
  border-color: var(--green);
}
.footerRed {
  background-color: var(--red);
  border-color: var(--red);
}
.footerAqua {
  background-color: var(--aqua);
  border-color: var(--aqua);
}
.footerYellow {
  background-color: var(--yellow);
  border-color: var(--yellow);
}
.footerDefault {
  background-color: var(--default);
  border-color: var(--default);
}
.footerWhite {
  background-color: var(--white);
  border-color: var(--white);
} */

.clock {
  position: absolute;
  bottom: 45px;
  right: -99px;
  transform: translateX(-50%) translateY(-50%);
  color: var(--clock);
  font-size: 30px;
  font-family: Orbitron;
  letter-spacing: 7px;
  z-index: 10;
  min-width: 350px;
  max-width: 350px;
}

@media screen and (max-width: 1000px) {
  .clock {
    right: 50%;
    left: 50%;
    bottom: 4px;
    z-index: 10;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translatex(-500%);
  }
  100% {
    transform: translatex(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translatex(500%);
  }
  100% {
    transform: translatex(0);
  }
}

@keyframes slideInFromUp {
  0% {
    transform: translatey(500%);
  }
  100% {
    transform: translatey(0);
  }
}

@keyframes slideInFromDown {
  0% {
    transform: translatey(-500%);
  }
  100% {
    transform: translatey(0);
  }
}

/* sect-2  */

a {
  text-decoration: none;
}
.sec-2 {
  margin-top: 750px;
  background-color: rgb(20, 18, 7);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
  transition: margin 500ms;
}

.sec2__container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}
.sec2__cards {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid#deab20;
  width: 350px;
  background-color: #242424;
  margin: 10px;
  height: 200px;
  transition: transform 500ms ease-in-out;
}
.sec2__cards:hover {
  transform: scale(1.02);
}
.sec2__cardsText {
  color: #deab20;
  font-size: 4rem;
}
.sec2__cardLink {
  margin-top: -10px;
  color: #deab20;
}
.toggle {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: rgb(44, 230, 255);
  border-radius: 50%;
  margin: auto;
  z-index: 31;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.toggle > div {
  height: 3px;
  width: 19px;
  margin: 2px;
  background-color: black;
  z-index: 32;
}

/* link section */

.links {
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 999999999999;
}

.links > a > div {
  margin: 10px;
  padding: 10px;
  background: rgba(104, 104, 104, 0.4);
  border-radius: 10px;
  color: rgb(0, 255, 0);
  transition: background 300ms ease-in;
}
.links > a > div:hover {
  background: rgba(104, 104, 104, 0.5);
}
a {
  text-decoration: none;
}
